[app]
mode = "DEVELOPMENT"
debug = true
name = "Boilerplate Service"
url = "0.0.0.0"
port = 3000
api_key = "qwertyuiop"
client_url = "0.0.0.0:4000"

[postgresql]
hostname = "localhost"
port = 5432
username = "postgres"
password = "postgres"
database = "postgres"
timezone = "UTC"
sslmode = "disable"